@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$mainWhite: #fff;
$mainGreen: #246E3D;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	// min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #F6F6F6;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: $md1 + px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================
.page__main {
	padding: 0 0 0 0;
	background-color: #E8EAE7;
}

.main__body {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.main__content {
	flex: 0 1 60%;
	align-items: center;
	margin-bottom: 90px;
	padding-top: 200px;

	@media (max-width:$md4+px) {
		padding-top: 140px;
	}

	@media (max-width:$md2+px) {
		flex: 0 0 100%;
	}
}

.main__subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
	position: relative;
	z-index: 3;

	& span {
		color: $mainGreen;
	}
}

.main__title {
	position: relative;
	z-index: 3;
	font-weight: 700;
	font-size: 45px;
	line-height: 52px;
	margin-bottom: 20px;

	& span {
		color: $mainGreen;
	}

	@media (max-width:$md4+px) {
		font-size: 36px;
		line-height: 120%;
	}
}

.main__text {
	position: relative;
	z-index: 3;
	font-weight: 500;
	line-height: 18px;
	color: #3A3A3A;
	margin-bottom: 30px;
	max-width: 585px;
}

.main__btn {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	padding: 20px 45px;

	&:hover {
		color: #fff;
	}
}

.main__bg {
	position: absolute;
	content: '';
	left: 0;
	top: 150px;
	z-index: 2;
}

.main__udobrenie {
	position: relative;
	flex: 0 0 40%;

	@media (max-width:$md2+px) {
		flex: 0 0 100%;
		padding-bottom: 100px;
	}

	@media (max-width:$md3+px) {
		display: none;
	}
}

.main__udobrenie::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 400%;
	background: #269156;
	transform: translate(55px, 0);
	z-index: 2;

	@media (max-width:$md2+px) {
		display: none;
	}
}

.main__label {
	position: absolute;
	right: 10px;
	bottom: 200px;
	content: '';
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 20px;
	z-index: 4;
	width: 233px;

	@media (max-width:$md2+px) {
		display: block;
		right: 0px;
		left: 150px;
		bottom: 15px;
		padding: 10px;
	}
}

.main__label-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 3px;
}

.main__label-text {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #3E3E3E;
}

.main-pin {
	position: absolute;
	content: '';
	z-index: 3;
	left: -200px;
	bottom: -20px;

	@media (max-width:$md2+px) {
		height: 300px;
		left: 350px;
		bottom: -10px;
	}
}

.main-bag {
	position: absolute;
	content: '';
	left: 70px;
	bottom: -8px;
	z-index: 4;

	@media (max-width:$md2+px) {
		left: 0px;
		bottom: -5px;
		height: 150px;
	}
}

.main__social {
	position: absolute;
	content: '';
	top: 100px;
	right: 0;
	z-index: 4;
	display: flex;
	flex-direction: column;

	@media (max-width:$md2+px) {
		display: none;
	}
}

.social-link {
	width: 20px;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

// tovar =========================================================
.tovar {
	padding: 60px 0;
}

.tovar__body {
	display: flex;
	justify-content: space-between;

}

.tovar__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tovar__content-text {
	flex: 0 1 70%;

	@media (max-width:$md3+px) {
		flex: 0 0 100%;
	}
}

.tovar__content-title {
	font-weight: 600;
	font-size: 30px;
	color: $mainColor;
	margin-bottom: 10px;
}

.tovar__subtitle {
	max-width: 400px;
	line-height: 17px;
	color: #4B4B4B;
}

.tovar__link {
	flex: 0 1 30%;
	text-align: right;

	@media (max-width:$md3+px) {
		flex: 0 0 100%;
		margin-top: 20px;
		text-align: left;
	}

	@media (max-width:$md4+px) {
		text-align: center;
	}
}

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 83, 181, 0.25);
	border-radius: 30px;
	min-height: 40px;
	padding: 0px 35px 0 45px;
	color: $mainGreen;
	transition: all 0.3s ease 0s;
	text-align: center;


	&::before {
		position: absolute;
		content: '';
		left: 20px;
		top: 10px;
		width: 20px;
		height: 20px;
		background: url(../img/icons/whatsapp-green.png) center center no-repeat;
	}

	&:hover {
		box-shadow: 0px 4px 4px rgba(0, 83, 181, 0.45);
	}
}

.tovar__card {
	margin-top: 66px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tovar__item {
	flex: 0 1 30%;
	background: $mainWhite;
	box-shadow: 0px 7px 7px rgba(0, 62, 119, 0.15);
	border-radius: 10px;
	padding: 25px;
	transition: all 0.3s ease 0s;
	margin-bottom: 30px;
	text-align: center;

	&:hover {
		box-shadow: 0px 0px 30px 5px rgba(0, 62, 119, 0.2);
	}

	@media (max-width:$md4+px) {
		// margin: 15px;
		padding: 20px 10px;
		flex: 0 0 100%;
	}
}

.tovar__img {
	margin-bottom: 10px;
}

.tovar__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 8px;
}

.tovar__text {
	line-height: 140%;
	color: #2D2D2D;
	margin-bottom: 18px;
}

.tovar__bnt {
	padding: 10px 44px;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.3s ease 0s;

	&:hover {
		color: #ececec;
	}
}

// sale ===========================================
.sale {
	padding: 60px 0;
	background: $mainWhite;
}


.sale__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sale__item {
	flex: 0 1 32%;
	background: linear-gradient(97.88deg, #188229 0.93%, #3DC953 99.28%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-bottom: 30px;
	max-height: 163px;
	max-width: 360px;
	padding: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-position 0.5s ease 0s;

	&:hover {
		background-position: 0px 163px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
	}

	@media (max-width:$md2+px) {
		flex: 0 0 100%;
		justify-content: center;
		align-items: center;
		align-self: center;
	}
}

.sale__block {
	flex: 0 0 50%;
	z-index: 3;
}

.sale__title {
	font-weight: 600;
	font-size: 40px;
	color: $mainWhite;
	z-index: 3;
}

.sale__subtitle {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: $mainWhite;
	margin-bottom: 8px;
	z-index: 3;
}

.sale__text {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #DCFE00;
	z-index: 3;
}

.sale-img {
	position: relative;
	max-width: 180px;
	z-index: 3;
}

.sale__subtitle-sale__item-2 {
	font-weight: 500;
	font-size: 14px;
	color: $mainWhite;
	margin-bottom: 7px;
	z-index: 3;
}

.sale__title-sale__item-2 {
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	text-transform: uppercase;
	color: $mainWhite;
	z-index: 3;
}

.sale__item-1,
.sale__item-2,
.sale__item-3 {
	position: relative;
}

.sale__item-1::after,
.sale__item-2::after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/sale-1-after.png) top right no-repeat;
	z-index: 2;
}

.sale__item-2::before,
.sale__item-3::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/sale-2-before.png) top left no-repeat;
	z-index: 2;
}

.sale__item-3::after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/sale-3-after.png) top right no-repeat;
	z-index: 2;
}

// pain ==================================================================================
.pine {
	padding: 80px 0;
	position: relative;

	@media (max-width:$md3+px) {
		padding: 40px 0;
	}

	&::after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $mainGreen;
		transform: translate(-50%, 0);
		z-index: 2;

		@media (max-width:$md2+px) {
			transform: translate(0, 0);
		}
	}
}

.pine__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 52px 0px;
}

.pine__block {
	position: relative;
	flex: 0 0 50%;
	z-index: 3;

	@media (max-width:$md2+px) {
		flex: 0 1 100%;
	}
}

.pine__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 130%;
	color: $mainWhite;
	margin-bottom: 32px;
}

.pine__text {
	font-weight: normal;
	color: $mainWhite;
	font-size: 17px;
	line-height: 150%;
	margin-right: 200px;

	@media (max-width:$md2+px) {
		// width: 800px;
		margin-right: 0;
	}
}

.pine-bg {
	position: absolute;
	content: '';
	top: 40%;
	left: 0;
	z-index: 10;

	@media (max-width:$md2+px) {
		top: 20%;
	}
}

.pine__photo {
	flex: 0 0 50%;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	@media (max-width:$md2+px) {
		flex: 0 1 100%;
	}
}

.pain-img {
	position: absolute;
	content: '';
	top: 110px;
	left: -150px;
	z-index: 5;

	@media (max-width:1185px) {
		left: -1px;
	}

	@media (max-width:$md2+px) {
		left: 50px;
		top: 50px;
	}

	@media (max-width:$md3+px) {
		display: block;
		margin: 0 auto;
		width: 100%;
		left: 0;
	}
}

.pine__btn {
	position: absolute;
	content: '';
	bottom: -20px;
	right: 80px;

	@media (max-width:$md2+px) {
		bottom: 0;
		top: 500px;
		right: 0;
		text-align: center;
		margin: 0 auto;
		position: relative;
	}

	@media (max-width:$md3+px) {
		display: none;
	}
}

// about ==========================================================
.about {
	padding: 115px 0;

	@media (max-width:$md2+px) {
		padding: 450px 0 115px 0;
	}
}

.about__container {}

._container {}

.about__subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 13px;
}

.about__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	margin-bottom: 65px;
}

.about__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about__item {
	flex: 0 0 40%;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 25px;
	// width: 440px;
	margin: 0 50px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background 0.3s ease 0s;

	&:hover {
		background: $mainGreen;
		color: $mainWhite;
	}

	@media (max-width:$md2+px) {
		flex: 0 1 100%;
		margin: 0 20px;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}
}

.about__bg {
	font-weight: bold;
	font-size: 130px;
	line-height: 152px;
	color: rgba(38, 145, 86, 0.3);
	margin-right: 15px;
	transition: color 0.3s ease 0s;

	&:hover {
		color: $mainWhite;
	}
}

.about__block-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 11px;
}

.about__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}


// cheer =============================================================================
.cheer {}

.cheer__body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $mainGreen;
		transform: translate(50%, 0px);
		z-index: 3;

		@media (max-width:1170px) {
			width: 200%;
			transform: translate(-20%, 0px);
		}
	}
}

.cheer__photo {
	width: 50%;

	@media (max-width:1170px) {
		display: none;
	}
}

.cheer-img {
	margin-top: 124px;
	position: relative;
	z-index: 4;
}

.cheer__block {
	position: relative;
	width: 50%;

	@media (max-width:1170px) {
		width: 100%;
	}
}

.cheer__title {
	position: relative;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	margin-top: 60px;
	margin-bottom: 20px;
	padding-left: 57px;
	z-index: 4;

	@media (max-width:1170px) {
		width: 100%;
		padding-left: 0;
	}
}

.cheer__text {
	position: relative;
	z-index: 4;
	font-weight: normal;
	font-size: 17px;
	line-height: 132.9%;
	color: #FFFFFF;
	margin-bottom: 30px;
	padding-left: 150px;

	& p:not(:last-child) {
		margin-bottom: 20px;
	}

	@media (max-width:1170px) {
		padding-left: 0px;
	}
}


.cheer__btn {
	margin-bottom: 30px;
	position: relative;
	z-index: 4;
	left: 150px;

	@media (max-width:1170px) {
		left: 0px;
	}

}

.cheer__bg {
	position: absolute;
	top: 30%;
	left: 0;
	z-index: 4;
}

// company =====================================================================================
.company {
	padding: 100px 0;
}

.company__contact-title {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	margin-bottom: 10px;
}

.company__contact-subtitle {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #4B4B4B;
	margin-bottom: 60px;
}

.company__body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.company__contact {
	flex: 0 0 40%;
	margin-right: -50px;
	padding-right: 50px;

	@media (max-width:$md2+px) {
		flex: 0 0 100%;
		margin: 0;
		padding: 0;
	}
}

.company-block-item {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.company-content {
	margin-left: 20px;
}

.company__img {
	position: relative;
	flex: 0 0 40%;
	padding-left: 70px;
	margin-left: -30px;

	@media (max-width:$md2+px) {
		padding: 0;
		margin: 0;
		flex: 0 0 100%;
	}
}

.company__bg {
	margin-bottom: 50px;
	text-align: center;
	display: block;
}

.company__img-text {
	flex: 0 0 100%;
	background: #FFFFFF;
	border-radius: 3px;
	padding: 30px;
	position: absolute;
	right: 50px;
	left: 0;
	bottom: 0;
	font-size: 14px;
	line-height: 150%;

	@media (max-width:$md2+px) {
		right: 0;
	}

	@media (max-width:$md3+px) {
		padding: 15px;
		right: 0px;
		width: 80%;
	}

	@media (max-width:$md4+px) {
		width: 60%;
		top: 100px;
	}
}



// contact ===============================================================================
.contacts {
	padding: 0 0 60px 0;
}

.contacts__contact-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 10px;
}

.contacts__contact-subtitle {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #4B4B4B;
	margin-bottom: 46px;
}

.contacts__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contacts__contact {
	display: flex;
	flex-direction: column;
}

.contact-block {
	flex: 0 0 30%;
	margin-right: 30px;

	@media (max-width:$md2+px) {
		flex: 0 0 100%;
		margin-right: 0;
	}
}

.contact-block-item {
	display: flex;
	margin-bottom: 40px;
}

.block-img {
	width: 24px;
	height: 24px;
	margin-right: 15px;
}

.block-img-map {
	height: 30px;
	margin-right: 15px;
}

.contact-content {
	display: flex;
	flex-direction: column;
}

.block-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
}

.block-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #363636;
}

.contacts__map {
	flex: 0 1 65%;

	@media (max-width:$md2+px) {
		flex: 0 1 100%;
	}
}